

<div class="grid-wrapper">

<% for (let dish of dishes) { %>

  <div class="ui-card">
    <h2>
      <a href="/dishes/<%= dish.id %>"><%= dish.title %></a>
    </h2>

    <img src="<%= dish.image_url %>" alt="">
  </div>

<% } %>

</div>